<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowName</key>
	<string>分享到 Froggy Link</string>
	<key>WFWorkflowClientVersion</key>
	<string>2600.0.0</string>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconStartColor</key>
		<integer>431817727</integer>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59812</integer>
	</dict>
	<key>WFWorkflowTypes</key>
	<array>
		<string>ActionExtension</string>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFURLContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFSafariWebPageContentItem</string>
	</array>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<true/>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.comment</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFCommentActionText</key>
				<string>分享到 Froggy Link：僅將你分享或貼上的網址帶入 https://froggy-link.vercel.app/，不讀取剪貼簿。開啟後請按「新增」儲存。</string>
				<key>UUID</key>
				<string>0FE15040-9223-538F-901F-A3258F1B1587</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.detect.link</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>ExtensionInput</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>UUID</key>
				<string>CA95679E-8B8A-57E6-9A3B-F34E07331C42</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>分享網址</string>
				<key>WFInput</key>
				<dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputUUID</key>
						<string>CA95679E-8B8A-57E6-9A3B-F34E07331C42</string>
						<key>OutputName</key>
						<string>URLs</string>
					</dict>
				</dict>
				<key>UUID</key>
				<string>905147D2-0638-52EA-A610-67D645E65AA5</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>760CB241-648E-4C41-B326-C7225B54A271</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFCondition</key>
				<integer>101</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>分享網址</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>UUID</key>
				<string>97CE77F0-B790-5E71-8BAD-029323E971CE</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.ask</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAskActionPrompt</key>
				<string>請貼上要收藏的完整網址（https://…）</string>
				<key>WFInputType</key>
				<string>Text</string>
				<key>UUID</key>
				<string>9D4DCD6A-4FE1-55AC-AFAA-A10F18A2FE03</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.detect.link</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputUUID</key>
								<string>9D4DCD6A-4FE1-55AC-AFAA-A10F18A2FE03</string>
								<key>OutputName</key>
								<string>Provided Input</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>UUID</key>
				<string>89A2E37B-0042-5DAE-95EA-D770C0AE9F49</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFVariableName</key>
				<string>分享網址</string>
				<key>WFInput</key>
				<dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputUUID</key>
						<string>89A2E37B-0042-5DAE-95EA-D770C0AE9F49</string>
						<key>OutputName</key>
						<string>URLs</string>
					</dict>
				</dict>
				<key>UUID</key>
				<string>598584F9-3CC5-553B-A0CA-21697D1FC92D</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>760CB241-648E-4C41-B326-C7225B54A271</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
				<key>UUID</key>
				<string>1F9F7090-2A99-5395-BA90-7038A4437B36</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>455260A3-76DC-4129-A154-6D123624143F</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFCondition</key>
				<integer>101</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>分享網址</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
				<key>UUID</key>
				<string>49D59117-3384-53AD-AFF1-6E0F8E2203AE</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.alert</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFAlertActionTitle</key>
				<string>找不到連結</string>
				<key>WFAlertActionMessage</key>
				<string>請從來源 App 分享連結，或重新執行並貼上完整的 https:// 網址。</string>
				<key>WFAlertActionCancelButtonShown</key>
				<false/>
				<key>UUID</key>
				<string>5731AD12-750F-584D-AF44-044439BF55E7</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.exit</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2A9A0A9C-B8C4-5AF4-A7A1-6BDFD1E6DFAD</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>455260A3-76DC-4129-A154-6D123624143F</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
				<key>UUID</key>
				<string>E0EAB5B3-09DE-52E2-8522-1409E58B2C68</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getitemfromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFItemSpecifier</key>
				<string>First Item</string>
				<key>WFInput</key>
				<dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>分享網址</string>
					</dict>
				</dict>
				<key>UUID</key>
				<string>5EF568EE-119A-5594-AD2C-25AEEB4139D4</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.urlencode</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFEncodeMode</key>
				<string>Encode</string>
				<key>WFInput</key>
				<dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputUUID</key>
								<string>5EF568EE-119A-5594-AD2C-25AEEB4139D4</string>
								<key>OutputName</key>
								<string>Item from List</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>UUID</key>
				<string>2F8F2634-2282-51B9-B38C-8D96C5AEDE09</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.url</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFURLActionURL</key>
				<dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>https://froggy-link.vercel.app/?url=￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{36, 1}</key>
							<dict>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputUUID</key>
								<string>2F8F2634-2282-51B9-B38C-8D96C5AEDE09</string>
								<key>OutputName</key>
								<string>URL Encoded Text</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>UUID</key>
				<string>EECFE187-0634-534D-B818-685D2C8766DA</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.openurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputUUID</key>
						<string>EECFE187-0634-534D-B818-685D2C8766DA</string>
						<key>OutputName</key>
						<string>URL</string>
					</dict>
				</dict>
				<key>UUID</key>
				<string>0F528C82-E872-5D5B-86E7-A4FBB56D199F</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
